@page "/"
@inject AuthenticationStateProvider AuthenticationsStateProvider
@inject NavigationManager NavigationManager
@attribute [Authorize]
<h1>Welcome</h1>
@code {
    protected override async Task OnInitializedAsync()
    {
        var authstate = await AuthenticationsStateProvider.GetAuthenticationStateAsync();
        var user = authstate.User;
        if(user.IsInRole(UserRoles.TimAccount))
            NavigationManager.NavigateTo("timtransctions");
    }
}
